.sidebar {
    width: 20%;
    min-height: 100vh;
  }
  
  .main-content {
    width: 80%;
  }

  .book-image {
    width: 50px;
    height: 60px;
    object-fit: cover;
  }
  
  hr {
    color: lightgray;
  }
  
