<div class="outer-container">
  <form
    class="change-password-form"
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-group">
      <label for="oldPassword">Old Password*</label>
      <div class="password-row">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="oldPassword"
          (focus)="resetErrorMessage()"
          placeholder="Old Password"
          formControlName="oldPassword"
        />

        <button
          type="button"
          class="btn btn-success ms-2"
          (click)="handleShowPassword()"
        >
          <i
            [className]="
              showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'
            "
          ></i>
        </button>
      </div>

      @if(getInput('oldPassword')?.hasError('required') &&
      getInput('oldPassword')?.touched) {
      <p class="text-danger">Old password is required</p>
      }
    </div>

    <div class="form-group mt-2">
      <label for="newPassword">New Password*</label>
      <div class="password-row">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="newPassword"
          (focus)="resetErrorMessage()"
          placeholder="New Password"
          formControlName="newPassword"
        />

        <button
          type="button"
          class="btn btn-success ms-2"
          (click)="handleShowPassword()"
        >
          <i
            [className]="
              showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'
            "
          ></i>
        </button>
      </div>

      @if(getInput('newPassword')?.hasError('required') &&
      getInput('newPassword')?.touched) {
      <p class="text-danger">New Password is required</p>
      } @if(getInput('newPassword')?.hasError('pattern') &&
      getInput('newPassword')?.touched) {
      <p class="text-danger">
        Password must be at least 8 characters long, contain at least 1
        uppercase letter, 1 lowercase letter, 1 number, and 1 special character.
      </p>
      }
    </div>

    <div class="form-group mt-2">
      <label for="confirmNewPassword">Confirm New Password*</label>
      <div class="password-row">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          id="confirmNewPassword"
          (focus)="resetErrorMessage()"
          placeholder="Confirm New Password"
          formControlName="confirmNewPassword"
        />

        <button
          type="button"
          class="btn btn-success ms-2"
          (click)="handleShowPassword()"
        >
          <i
            [className]="
              showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'
            "
          ></i>
        </button>
      </div>

      @if(getInput('confirmNewPassword')?.hasError('required') &&
      getInput('confirmNewPassword')?.touched) {
      <p class="text-danger">Confirm password is required</p>
      }
    </div>

    <div class="alert alert-danger w-100 danger-box mt-2" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="form-group mt-1">
      <button
        type="submit"
        class="btn btn-primary mt-2"
        [disabled]="changePasswordForm.invalid || isLoading"
      >
        @if (isLoading) {
        <app-spinner></app-spinner>
        } @else { Confirm Password }
      </button>
    </div>
  </form>
</div>
