<app-header [isShow]="true" (search)="onSearch($event)"></app-header>
<div class="container-fluid d-flex p-0">
  <div class="sidebar">
    <app-list-genre [genreList]="genreList" [genreId]="genreId" (selectGenre)="getBooksByGenre($event)"
      (selectAllBook)="getAllBooks()"></app-list-genre>
  </div>
  <div class="main-content container-fluid p-5">
    <div class="h1">{{ title }}</div>
    <hr />
    <div class="d-flex justify-content-between">
      <div class="align-content-center fst-italic small text-secondary">
        <i class="fa-solid fa-book fst-italic me-2"></i> Total books:
        {{ totalItems }}
      </div>
      <mat-paginator [length]="totalItems" [pageSizeOptions]="[1, 2, 5, 10, 20]" [pageIndex]="pageIndex"
        [pageSize]="pageSize" (page)="onPageChange($event)" aria-label="Select page" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>

    <section class="py-3">
      <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngIf="bookList && bookList.length == 0" class="fst-italic w-100 text-center">
            {{ message }}
          </div>
          @for (item of bookList; track $index) {
          <div class="col mb-5">
            <div class="card h-100">
              <img type="button" (click)="bookDetails(item)" class="card-img-top" src="{{
                  item.imageUrl
                    ? item.imageUrl
                    : 'https://img.freepik.com/premium-vector/default-image-icon-vector-missing-picture-page-website-design-mobile-app-no-photo-available_87543-11093.jpg'
                }}" alt="image" />
              <div class="card-body p-4">
                <div class="text-center">
                  <h5 class="fw-bolder">{{ item.title }}</h5>
                  {{ item.author }}
                </div>
              </div>
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div *ngIf="item.amount > 0; else elseBlock"
                  class="d-flex justify-content-center small text-warning mb-2">
                  <div>Available: {{ item.amount }}</div>
                </div>

                <ng-template #elseBlock>
                  <div class="d-flex justify-content-center small text-secondary fst-italic mb-2">
                    <div>Temporarily Out of Stock</div>
                  </div>
                </ng-template>

                <div class="text-center" *ngIf="userInfo.isAdmin === 'False'">
                  <button type="button" [disabled]="item.amount == 0" class="btn btn-outline-success mt-auto"
                    (click)="addToWishlist(item.id)">
                    Add to Wishlist
                  </button>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </section>
  </div>
</div>