.sidebar {
  width: 20%;
  min-height: 100vh;
}

.main-content {
  width: 80%;
}

.search-input {
  border-radius: 25px;
  padding: 10px 20px;
  border: 1px solid #ccc;
}

/* Table styling */
.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.table-bordered {
  border: 1px solid #ddd;
}

.header-cell {
  background-color: #007bff;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 12px;
}

.cell {
  padding: 10px;
  text-align: center;
}

.header-row {
  background-color: #007bff;
  color: white;
}

.data-row:hover {
  background-color: #f1f1f1;
}


.btn-custom {
  padding: 8px 20px;
  border-radius: 25px;
  font-size: 14px;
  color: aliceblue;
  border: none;
  transition: all 0.3s ease;
  background-color: #007bff;
}

.btn-details {
  background-color: #ffc107;
  color: #343a40;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-details:hover {
  background-color: #ffda39;

  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

  transform: translateY(-2px);

}


.btn-pickup {
  background-color: #28a745;
}

.btn-pickup:hover {
  background-color: #218838;
}