<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container-fluid px-5 py-2">
    <a class="navbar-brand" routerLink="/">
      <img
        class="header-logo"
        src="assets/images/logo/logo-no-background.png"
        alt=""
      />
    </a>

    <div
      class="navbar-collapse d-flex justify-content-between ms-5"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0"></ul>

      <form
        *ngIf="isShow"
        #formSearch="ngForm"
        (ngSubmit)="onSubmit(formSearch)"
        class="d-flex header-search"
      >
        <input
          class="form-control bg-secondary-subtle"
          type="text"
          placeholder="Search..."
          aria-label="Search"
          id="search"
          name="search"
          required
          [(ngModel)]="searchInput"
        />
        <button
          [disabled]="formSearch.invalid"
          class="btn border-0"
          type="submit"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <div
            type="button"
            class="d-flex p-2 bg-light rounded-4 h-100 pe-3"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="w-25 ps-2">
              <img
                class="avatar rounded-circle border border-white"
                src="{{
                  userInfo!.imageURL
                    ? userInfo.imageURL
                    : 'https://i.pinimg.com/736x/0d/64/98/0d64989794b1a4c9d89bff571d3d5842.jpg'
                }}"
                alt=""
              />
            </div>
            <div class="w-75 px-3">
              <div class="text-uppercase text-lightblue fw-bold">
                {{ userInfo!.firstName }} {{ userInfo!.lastName }}
              </div>
              <div class="small">
                {{ userInfo.isAdmin === "True" ? "Admin" : "Member" }}
              </div>
            </div>
            <i class="fa-solid fa-sort-down"></i>
          </div>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @if(userInfo.isAdmin === "False") {

            <li>
              <a class="dropdown-item" routerLink="/wish-list">Your Wishlish</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/requests">Your Requests</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/user/user-book-borrow"
                >Book Borrowing</a
              >
            </li>

            } @else {
            <li>
              <a class="dropdown-item" routerLink="/admin/dashboard"
                >Admin Area</a
              >
            </li>

            }
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" routerLink="/profile">Your Profile</a>
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
